[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mss = "*"
pillow = "*"
pywin32 = "*"
numpy = "*"
psutil = "*"
py-cpuinfo = "*"
structlog = "*"
prometheus-api-client = "*"
prometheus-client = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
